<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean
            id="facturacionService"
            class="com.eduit.conspring.beans.FacturacionService">
    </bean>

    <bean
            id="entrenadorFutbol"
            class="com.eduit.conspring.beans.EntrenadorFutbolServiceImpl">
        <constructor-arg ref="facturacionService" />
    </bean>

    <bean
            id="entrenadorRunning"
            class="com.eduit.conspring.beans.EntrenadorRunningServiceImpl">
        <constructor-arg ref="facturacionService" />
    </bean>


</beans>